#save{
    width: 100%;
 }
 [type="checkbox"]:not(:checked) + label:after,
 [type="checkbox"]:checked + label:after {
   content: '✔';
   position: absolute;
   top: .1em; left: .3em;
   font-size: 1.3em;
   line-height: 0.8;
   color: #09ad7e;
   transition: all .2s;
 }
 
 [type="checkbox"]:not(:checked) + label:after {
   opacity: 0;
   transform: scale(0);
 }
 [type="checkbox"]:checked + label:after {
   opacity: 1;
   transform: scale(1);
 }
 [type="checkbox"]:not(:checked) + label:before,
 [type="checkbox"]:checked + label:before {
   content: '';
   position: absolute;
   left: 0; top: 0;
   width: 1.25em; height: 1.25em;
   border: 2px solid #ccc;
   background: #fff;
   border-radius: 4px;
   box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
 }
 
 