/* @import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");
.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', Lato, Tahoma, sans-serif;
  width: 100%;
  min-height: 100%;
}

.headerspace {
  top: 0;
  height:					65px;
  width:					100vw;
  margin:					0px auto;
  background-color:		white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  float:					top;
  position:				fixed;
  text-align: left;
  padding: 0;
}

.header-wrapper {
  padding-bottom: 30px;
}

.herobackground{
  background-image: url(../img/leftCircuits.png), url(../img/rightCircuits.png);
  background-repeat: no-repeat, no-repeat;
  /* background-attachment: fixed, fixed; */
  background-size: auto 100%, auto 100%;
  background-position: left, right;
  height: 100%;
  /* background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), rgba(255, 255, 255, 0.55) url("../img/advantek3-01.png") no-repeat; */
}

.heroicon{
  font-size: 2rem;
  height: 3rem;
  color: #5921F4;
  
}

.herotext{
  font-size: 2rem;
  height: 6rem;
  color: #5921F4;
  margin-bottom: -3rem;
  margin-left: 1rem;
}

.flexcenter {
  display: flex;
  align-items:center;
  flex-direction: row;
  justify-content: center;
  
}


.hero {

  
  
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Poppins', sans-serif;

  
  top: 0;
}

.devices{
 padding: 3rem;
 height: 25rem;
 width: auto;
}


.hero .title {
  font-family: 'Kaushan Script', sans-serif;
  /* transform: rotate(-5deg); */
  font-size: 5rem;
  color: whitesmoke;
}

.hero .subtitle {
  padding: 5px;
  color: whitesmoke;
}

.hero .profession {
  padding-top: 50px;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.hero .hero-foot {
  height: 50px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
  .hero{

  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 7px auto;
  height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 38px;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
  border-bottom: 2px solid #5921F4;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
  color: #5921F4;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
  color: #5921F4;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid #5921F4;
}

.main-content {
  padding-top: 2rem;
  color: #3c4172;
  font-family: 'Poppins', sans-serif;



  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* margin-bottom: calc(100vw - 80px); */
  /* flex-direction: row;
  align-items: stretch; */
}


.main-content .row.content {
  flex: 1 1 auto;
}

.main-content .section-dark {
  background-color: #f0f3f5;
  padding: 60px 0px;
}

.main-content .section-dark.resume {
  height: 400px;
  padding-top: 100px;
}

@media (max-width: 599px) {
  .main-content .section-dark.resume {
    padding-top: 75px;
  }
}

.main-content .section-dark.resume .title {
  padding: 20px;
}

.main-content .section-dark.resume button {
  border: 2px solid #43485c;
  background: white;
  color: #43485c;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
  color: #1f2c6c;
}

.main-content .section-dark.team {
  padding: 120px;
}

@media (max-width: 599px) {
  .main-content .section-dark.team {
    padding: 75px 20px;
  }
}

.main-content .section-dark.team .team-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.team .team-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.main-content .section-light {
  padding: 30px;
  
}

.main-content .section-light.about-me {
  padding-bottom: 100px;
}

.main-content .section-light.about-me .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light.about-me .about-links {
    text-align: center;
  }
}

.main-content .section-light.about-me .right-image img {
  border-radius: 11px;
  margin: 20px;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
  .main-content .section-light.about-me .right-image img {
    margin: auto;
  }
}

.main-content .section-light.skills {
  padding: 100px;
}

@media (max-width: 599px) {
  .main-content .section-light.skills {
    padding: 50px 20px 40px 20px;
    padding-bottom: 20px;
  }
}

.main-content .section-light.skills h1 {
  padding: 10px;
}

.main-content .section-light.contact {
  padding: 200px;
}

.main-content .section-light.contact button {
  width: 100%;
  background-color: #43485c;
  color: white;
  height: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 599px) {
  .main-content .section-light.contact {
    padding: 60px 20px;
  }
}

.main-content .section-color.services {
  padding: 100px;
  background-color: #43485c;
  color: white;
}

.main-content .section-color.services .title,
.main-content .section-color.services .subtitle {
  color: white;
}

.main-content .section-color.services i {
  font-size: 3rem;
  padding: 20px;
}

.main-content .section-title {
  color: #43485c;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.logospin {
  margin-left: 1rem;
  margin-right: 0rem;
  -webkit-animation:spin 0.5s linear;
  -moz-animation:spin 0.5s linear;
  animation:spin 0.5s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.logoslide {
  margin-left: -1rem;
  -webkit-animation: slide-right 1s forwards;
	        animation: slide-right 1s forwards;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

.lineform{
 height: 5rem;
 width: auto;
 background-image: url(../img/linelong.png);
 background-size: 30rem;
 background-repeat: no-repeat;
 margin-top: -4.5rem;
}

.lineformwhitesmall{
  height: 5rem;
  width: auto;
  background-image: url(../img/linelongw.png);
  background-size: 30rem;
  background-repeat: no-repeat;
  margin-top: -2rem;
 }

.lineformshort{
  height: 5rem;
  width: auto;
  background-image: url(../img/lineshort.png);
  background-size: 7rem;
  background-repeat: no-repeat;
  
 }

 .lineformlongverywhite{
  height: 9rem;
  width: auto;
  background-image: url(../img/linelongveryw.png);
  background-size: 60rem;
  background-repeat: no-repeat;
  text-align: left;
  margin-top: -4.5rem;

 }

 .lineformlongvery{
  height: 9rem;
  width: auto;
  background-image: url(../img/linelongvery.png);
  background-size: 60rem;
  background-repeat: no-repeat;
  text-align: left;
  margin-top: -4.5rem;
 }

/* .devices{
  height: 40%;
  width: 40%;
} */

.pad-top-2rem{
  margin-top: 2rem;
}

.margin-left-5rem{
  margin-left: 5rem;
}

.floattop{
  float: top;
  margin-bottom: -9rem;
}

.fixedlayout{
  table-layout: fixed;
}

.idcell {
  width: 10%;
}
.emailcell {
  width: 30%;
}
.buttoncell {
  width: 10%;
}

.footer {
  bottom: 0;
  width: 100vw;
  height: 80px;
  line-height: 25px;
  text-align: center;
  background: #5921F4;
  color: whitesmoke;
  /* float:					bottom; */
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.footercontent{
  text-align: center;
}

.footer a {
  padding: 0rem 0rem 0rem 0rem;
  color: lightgrey;
  text-align: center;
}

.footer a i {
  font-size: 1.5rem;
  padding: 0px 10px;
}

.footer a .nav-item {
  color: whitesmoke;
}

.fa-download {
  color: #43485c;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(31, 44, 108, 0.65);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #43485c;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #43485c;
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #5921F4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}

.white
{color:ghostwhite}